@keyframes animate-top {
    from {
        transform: translateY(0);
        opacity: 0;
    }
    to {
        transform: translateY(100px) ;
        opacity: 1;
    }
}

.animate--top{
    animation: animate-top 2s ease-in-out;
}