* {
    text-rendering: optimizeLegibility;
}

*::selection {
    color: $color-gold;
    background: $color-white;
}

body {
    background-color: $color-dark;
    font-family: $font-serif;
    font-weight: 400;
    font-display: swap;
    @include media-breakpoint-down(sm) {
        padding-top: 60px ;
    }
}

a {
    color: $color-white;
    &:hover {
        text-decoration: none;
        color: $color-white;
    }
}
img{
    width: 100%;
}
// moduls
.section__title {
    font-size: 1rem;
    font-family: $font-sans;
    font-weight: 700;
    color: $color-white;
}