.wraper {
    padding: 10px;
    z-index: 9;
    position: relative;
    background-color: $color-dark;
}

.section_title {
    font-family: $font-sans;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    font-size: 1.1rem;
    color: $color-white;
    margin: 80px 0 40px;
}

.icon-social {
    width: 25px;
    fill: $color-dark;
    transition: fill 200ms ease-in;
    padding: 5px;
    &:hover {
        fill: $color-gold;
    }
}

.card-dark {
    transition: background-color 1s ease;
    background-color: transparent;
    padding: 80px 20px 20px;
    &:hover {
        background-color: $color-darker;
        .card-dark_image-container {
            background-color: transparent;
        }
    }
    &_header {
        padding: 20px 0;
    }
    &_title {
        font-family: $font-sans;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.1rem;
        font-size: 1.1rem;
        color: $color-white;
    }
    &_label {
        font-family: $font-sans;
        font-weight: 700;
        line-height: normal;
        font-size: .8rem;
        color: $color-white;
    }
    &_description {
        font-family: $font-sans;
        font-weight: 700;
        margin-top: 20px;
        font-size: .9rem;
        color: $color-gray-2;
    }
    &_image-container {
        transition: background-color 1s ease;
        background-color: $color-gray-3;
        padding: 120px 60px;
    }
    &_image {
        display: block;
        height: 80px;
        width: 100%;
        margin: 0 auto;
    }
}

/* blog header style */

.blog {
    &-header{
    padding-top: 50px ;
    padding-bottom: 50px ;
    }
    &-logo {
        display: block;
        width: 100px;
        height: 100px;
        fill: $color-white;
        margin: 0 auto;
    }
    
    &-title {
        font-family: $font-serif;
        font-weight: 400;
        color: $color-white;
        font-size: .9rem;
        letter-spacing: -.1rem;
        text-align: center;
    }
}


