.navbar-aba {
    .nav-link {
        color: $color-gray-2;
        font-family: $font-sans;
        font-size: 1rem;
        margin-right: 1rem;
        &:hover {
            color: $color-gray-1;
        }
        @include media-breakpoint-down(sm) {
            text-align: center;
            font-size: calc(28px + (58 - 28) * ((100vw - 300px) / (1600 - 300)));
        }
    }
    .navbar-collapse {
        @include media-breakpoint-down(sm) {
            position: fixed;
            z-index: 99;
            bottom: 0;
            top: 47px;
            right: 0;
            left: 0;
            width: 100%;

            background-color: $color-darker;
        }
    }
    .navbar-nav {
        @include media-breakpoint-down(sm) {
            padding: 25% 0;
            height: 100vh;
        }
    }
    .active {
        .nav-link {
            color: $color-white;
        }
    }
    .brand {
        font-family: $font-serif;
        font-size: 20px;
        letter-spacing: -.2rem;
        color: $color-white;
        &:hover {
            text-decoration: none;
        }
    }
}

.toggler-bar {
    display: block;
    height: 3px;
    overflow: hidden;
    background-color: $color-white;
    width: 100px;
    border-radius: 2px;
    &:nth-child(1) {
        width: 22px;
    }
    &:nth-child(2) {
        width: 10px;
        margin: 6px 0;
        transform: translateX(12px);
    }
    &:nth-child(3) {
        width: 16px;
        transform: translateX(6px);
    }
}

.header_logo {
    width: 60px;
    fill: $color-white;
    display: block;
    margin: 50px auto 0;
    margin-bottom: 10px;
}

// in tablet and phone
@media screen and (max-width: 768px) {
    .navbar-aba {
        background-color: rgb(44, 44, 44);
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 99;
    }
    .hero_social {
        li {
            display: inline-block;
            svg {
                width: 32px;
            }
        }
    }
}

// only in phone
@media screen and (max-width: 576px) {
    .hero_social {
        display: none;
    }
}