<footer class="footer" id="l-footer">

    <div class="container footer-wraper">
  
      <div class="footer__contact">
  
        <a class="footer__brand" href="/">
          <strong>ABACHOUCH</strong>youssouf
        </a>
  
        <ul class="footer__contact__socials">
          <li><a href="/facebook">FB</a></li>
          <li><a href="/twitter">TW</a></li>
          <li><a href="/github">GH</a></li>
          <li><a href="/youtube">Yo</a></li>
        </ul>
  
        <div class="footer__contact__email">
          get in touch 👉
          <a href="mailto:abachouch.youssouf@gmail.com" class="footer__contact__email__link">youssouf.abachouch@gmail.com</a>
        </div>
      </div>
  
  
      <ul class="footer__nav">
        <li><a title="home page" href="/" class="footer__nav__item">Home</a></li>
        <li><a title="projects" href="/projects" class="footer__nav__item">Work</a></li>
        <li><a href="/blog" class="footer__nav__item">blog Articles</a></li>
        <li><a href="/snipets" class="footer__nav__item">Snipets</a></li> 
      </ul>
  
      <div class="footer__copy">Created by Abachouch Youssouf 2022</div>
    </div>
  
  
    <!-- <script>
      if ('serviceWorker' in navigator) {
        // Wait until window is loaded before registering.
        window.addEventListener('load', () => {
          // Register the service worker with "/" as it's scope.
          navigator.serviceWorker.register('/sw.js', { scope: '/' })
            // Output success/failure of registration.
            .then(() => console.log('SW registered'))
            .catch(() => console.error('SW registration failed'));
        });
      }
    </script> -->
  </footer>