<nav class="nav" id="nav">
    <header class="nav__header">
        <button id="navToggle" class="nav__toggle" onclick="toggleMenu()">
            <div class="nav__toggle__icon"></div>
            <span class="nav__toggle__label">Menu</span>
        </button>
        <a class="nav__brand">Abachouch Youssouf</a>
    </header>
    <script>

    function toggleMenu (){

    const navToggle = document.getElementById('navToggle');
        const nav = document.getElementById('nav') ;
        nav.classList.toggle('open')
    }
        
    </script>

    <div class="nav__content">

    <ul class="nav__links">
        <li class="nav__link"><a href="/">Home</a></li>
        <li class="nav__link"><a href="/snipets">Snipets</a></li>
        <li class="nav__link"><a href="/blog">Blog</a></li>
        <li class="nav__link"><a href="/work">Work</a></li>
    </ul>

    <div class="nav__tags-wraper">
<h3>Browse Tags</h3>
    <ul class="nav__tags">
        <li class="nav__tag"><a href="/">Home</a></li>
        <li class="nav__tag"><a href="/snipets">Snipets</a></li>
        <li class="nav__tag"><a href="/blog">Blog</a></li>
        <li class="nav__tag"><a href="/work">Work</a></li>
    </ul>

    </div>
    

    <ul class="nav__socials">
        <li class="nav__social"><a href="facebook">Facebook</a></li>
        <li class="nav__social"><a href="tw">Twitter</a></li>
        <li class="nav__social"><a href="">LinkedIn</a></li>
        <li class="nav__social"><a href="Inst">Instagram</a></li>
        <li class="nav__social"><a href="git">Github</a></li>
    </ul>

    </div>
    
</nav>