@mixin responsive-font($responsive, $min, $max: false, $fallback: false) {
  $responsive-unitless: $responsive / ($responsive - $responsive + 1);
  $dimension: if(unit($responsive)=='vh', 'height', 'width');
  $min-breakpoint: $min / $responsive-unitless * 100;

  @media (max-#{$dimension}: #{$min-breakpoint}) {
    font-size: $min;
  }

  @if $max {
    $max-breakpoint: $max / $responsive-unitless * 100;

    @media (min-#{$dimension}: #{$max-breakpoint}) {
      font-size: $max;
    }
  }

  @if $fallback {
    font-size: $fallback;
  }

  font-size: $responsive;
}

@mixin xs {
  @media only screen and(max-width: 600px) {
    @content;
  }
}

@mixin sm {
  @media only screen and(min-width: 600px) {
    @content;
  }
}

@mixin md {
  @media only screen and(min-width: 768px) {
    @content;
  }
}

@mixin lg {
  @media only screen and(min-width: 992px) {
    @content;
  }
}

@mixin xl {
  @media only screen and(min-width: 1200px) {
    @content;
  }
}