.nav {
    position: fixed;
    z-index: 9999999;
    top: 0;
    right: 0;
    left: 0;
    padding: .5rem 0;
    background-color: rgba(140, 150, 229, 0.10);
    backdrop-filter: blur(6px);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.099);
    color: rgb(0, 0, 0);
    transition: all 300ms ease-in-out;

    @include sm {}

    a {
        color: currentColor;
    }

    ul {
        list-style: none;
        margin: 2rem 0 0 0;
    }

    li {
        font-family: Cormorant, Times, serif;
    }

    h3 {
        color: rgb(255, 255, 255);
        font-family: Inter;
        font-weight: 700;
    }

    &__brand {
        height: 36px;

        &-image {
            height: 100%;
        }
    }

    &__toggle {
        cursor: pointer;
        background-color: transparent;
        color: currentColor;
        display: flex;
        align-items: start;
        flex-direction: row;
        column-gap: 2rem;
        position: relative;
        border: 1px solid currentColor;
        padding: 8px 12px;

        &__icon {

            &:before,
            &:after {
                position: absolute;
                left: 15px;
                content: ' ';
                height: 16px;
                width: 2px;
                background-color: currentColor;
                transition: transform 200ms ease;
            }

            &:before {
                transform: rotate(0);
                transform: translateX(-8px);
            }

            &:after {
                transform: rotate(0);
            }
        }
    }

    &__content {
        height: 0;
        overflow: auto;
        min-height: 100%;
    }

    &.open {
        background-color: blueviolet;
        height: 100dvh;
        grid-template-rows: min-content 1fr;
        color: rgb(255, 255, 255);

        & .nav__content {
            display: flex;
            height: 700px;
            flex-direction: column;
            gap: 3rem;
        }

        .nav__link {

            &:nth-child(1) a {
                animation-delay: 0ms;
            }

            &:nth-child(2) a {
                animation-delay: 200ms;
            }

            &:nth-child(3) a {
                animation-delay: 400ms;
            }

            &:nth-child(4) a {
                animation-delay: 600ms;
            }

            &:nth-child(5) a {
                animation-delay: 800ms;
            }

            a {
                transform: translateX(-400px);
                animation-name: slidetoright;
                animation-duration: 500ms;
                animation-fill-mode: forwards;
            }
        }

        .nav__toggle {
            &__icon {
                &:before {
                    transform: rotate(45deg);
                }

                &:after {
                    transform: rotate(-45deg);
                }
            }
        }
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;

    }

    &__links {}

    &__link {
        font-size: 2rem;
        @include responsive-font(5vw, 35px, 64px, 50px);



        a {
            display: inline-block;
            transition: margin-left 200ms ease ;
            &:hover {
                transition-delay: 0ms;
                margin-left: 1rem;
            }
        }
    }

    &__tags {
        display: flex;
        flex-wrap: wrap;
        gap: 1.5rem;

        &-wraper {
            flex-grow: 1;
        }
    }

    &__tag {
        font-size: 1.2rem;
    }

    &__socials {
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: wrap;
        gap: 1rem;
    }
}

@keyframes slidetoright {
    to {
        transform: translateX(0);
    }
}