
@font-face {
    font-family: "Cormorant";
    src: url('../assets/fonts/Cormorant-VariableFont_wght.ttf') format('truetype');
  }

  @font-face {
    font-family: "Inter";
    src: url('../assets/fonts/Inter-VariableFont_slnt\,wght.ttf') format('truetype');
  }

  body{
    font-family: Inter, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: var(--text-color)
  }

@import './variables';
@import './mixins';
@import './nav';
@import './home/hero';
@import './home/featured-work';
@import './home/home-about';
@import './home/skills';
@import './home/featured-snipets';
@import './cta';
@import './footer';