.about{
    margin: 30px 0 100px ;
    &_text{
        font-size: .9rem ;
        color: $color-gray-1 ;
        letter-spacing: .1rem;
        max-width: 400px;
        font-family: $font-sans ;
        font-weight: 700 ;
        
    }
    &_image{
        width: 100px ;
        fill: $color-gold ;
        display: block ;
        margin: 50px auto ;
    }
}
