.footer {
    min-height: 100vh;
    background-color: $color-white;
    transition: background-color 3s ease-in-out;
    margin-top: 40px;
    padding-top: 100px;
    padding-bottom: 0;
    position: relative;
    bottom: 0;
    z-index: 0;
    text-align: center;
    &_logo {
        width: 58px;
        height: 67px;
        display: block;
        fill: $color-gray-3;
        transition: fill 2s ease;
        margin: 0 auto;
        margin-bottom: 20px;
        @include media-breakpoint-down(sm) {
            margin-top: 40px;
        }
    }
    &:hover {
        .footer_logo {
            fill: $color-gold;
        }
    }
    &_text {
        max-width: 400px;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 60px;
    }
    &_header {
        font-size: 1.1rem;
        font-weight: 400;
        color: $color-dark;
    }
    &_desc {
        font-size: 1rem;
        color: $color-gray-2;
        font-weight: 400;
    }
    &_social {
        @include media-breakpoint-down(sm) {
            position: initial;
        }
        list-style: none;
        padding: 0;
        position: absolute;
        right: 30px;
        bottom: 60px;
        li {
            padding: 5px;
            @include media-breakpoint-down(sm) {
                display: inline-block;
            }
        }
    }
    &_image {
        max-width: 100%;
        width : auto ;
        max-height: calc(100vh - 200px ) ;
        transition: opacity 1s ease-in-out;
    }
}



.hireme-wraper {
    background-color: $color-dark;
    display: inline-block;
    margin-bottom: 40px;
    font-size: 0;
}

.hireme {
    font-family: $font-sans;
    font-size: .9rem;
    font-weight: 700;
    color: $color-white;
    display: inline-block;
    width: 200px;
    padding: 10px 30px;
    position: relative;
    background-color: none;
    z-index: 1;
    &:hover {
        &:before {
            width: 100%;
            right: 0;
            left: 0;
        }
    }
    &:before {
        content: "";
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        width: 0;
        z-index: -1;
        background-color: $color-gold;
        transition: width 400ms ease;
    }
}

.sitmap {
    padding: 0;
    text-align: center;
    li {
        list-style: none;
        display: inline;
        padding: 0 10px;
        a {
            color: $color-gray-2;
            font-size: .8rem;
            font-family: $font-sans;
            font-weight: 700;
            transition: color ease-in 200ms;
            &:hover {
                color: $color-gold;
            }
        }
    }
}

#toTop {
    position: absolute;
    right: 20px;
    bottom: 60px;
    z-index: 55;
    background-color: $color-gray-3;
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: background-color 800ms ease;
    &:hover {
        background-color: $color-gray-2;
        .arrow {
            border-color: $color-dark;
        }
    }
    .arrow {
        position: absolute;
        top: 20px;
        left: 18px;
        width: 15px;
        height: 15px;
        transform: rotate(45deg);
        border-left: 6px $color-white solid;
        border-top: 6px $color-white solid;
        transition: border-color 800ms ease;
    }
}

.copy {
    color: $color-gray-1;
    text-align: center;
    font-size: .7rem;
    font-family: $font-sans;
    font-weight: 700;
    border-top: 1px solid $color-gray-1;
    padding: 20px;
    margin-top: 50px;
    margin-bottom: 0;
    opacity: 0.7;
    transition: color 200ms ease-in;
    &:hover {
        color: $color-gray-3;
    }
}