@keyframes slid-top {
    from {
        display: block;
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.project {
    position: relative;
    .link {
        font-family: $font-sans ;
        font-weight: 700; 
        display: inline-block;
        position: relative;
        padding: 10px;
        width: 100px;
        color: $color-white;
        text-align: center;
        z-index: 5;
        &::before {
            display: block;
            content: "";
            position: absolute;
            right: 0;
            top: 0;
            height: 100%;
            width: 0;
            z-index: -1;
            background-color: $color-gold;
            transition: width 400ms ease;
        }
        &:hover {
            color: $color-white;
        }
        &:hover::before {
            width: 100%;
            right: 0;
            left: 0;
        }
    }
    .card-dark {
        &_header {
            min-height: 160px;
        }
    }
    .buttons {
        position: absolute;
        bottom: 20px;
        left: 20px;
        display: none;
    }
    &:hover .buttons {
        position: absolute;
        bottom: 20px;
        left: 20px;
        display: block;
        animation-name: slid-top;
        animation-duration: 2s;
        animation-timing-function: ease-out;
    }
}