.home-hero-wraper {
  --background-color: rgb(231, 235, 243);
  background-color: var(--background-color);
  background-image: url("/assets/images/sphere3.gif");
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: screen;
  @include sm {
    background-blend-mode: luminosity;
    background-position: center right;
    position: fixed;
    width: 100%;
  }
}

.home-hero {
  padding-block: 4rem 4rem;
  width: 100%;
  display: grid;
  align-items: center;
  grid-template-rows: auto auto auto auto;

  @include md {
    height: 100%;
    height: 100dvh;
    max-height: 980px;
    padding-block: 7rem 4rem;
  }

  &__heading {
    &-wraper {
      overflow: hidden;
      height: min-content;
    }

    &__line-1 {
      display: block;
      animation: popup-in 1s ease 200ms backwards;
    }
    &__line-2 {
      display: block;
      animation: popup-in 1s ease 300ms backwards;
    }
  }
  &__lead {
    max-width: 600px;
    font-weight: 600;
    line-height: 150%;
  }

  &__ctas {
    display: flex;
    gap: 1rem 2rem;
    margin-top: 3rem;
    flex-direction: column;
    align-items: stretch;

    .btn {
      width: auto;
    }
    @include sm {
      justify-content: start;
      flex-direction: row;
    }
  }

  &__supporting {
    max-width: 500px;
    align-self: flex-end;
    justify-self: end;
    display: none;
    @include md {
      font-size: 1.2rem;
      display: block;
    }
  }

  &__brands {
    margin: 4rem 0;

    overflow: hidden;
    display: flex;
    gap: 2.5rem;
    mask-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0),
      rgb(0, 0, 0) 10%,
      rgb(0, 0, 0) 90%,
      rgba(0, 0, 0, 0)
    );

    @include sm {
      max-width: 400px;
    }
    &__list {
      display: flex;
      gap: 2.5rem;
      animation-duration: 15s;
      animation-iteration-count: infinite;
      animation-name: marquee-effect;
      animation-timing-function: linear;
    }
    &:hover ul {
      animation-play-state: paused;
    }
    &__item img {
      height: 26px;
      width: auto;
      filter: grayscale(1);
    }
  }
}

@keyframes popup-in {
  from {
    opacity: 0;
    transform: translateY(250px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes marquee-effect {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}
