.home-skills{
    max-width: $maxContainerWidth;
    margin: 0 auto;
    padding: 0 1rem;
    @include sm {
        padding: 0 2rem;
    }

    &__heading{
        font-family: Cormorant;
        margin: 3rem 0;
        font-size: 3rem;
        font-weight: 600;
    }
    &__list{
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        @include md {
            flex-direction: row;

        }

    }
}
.home-skill{
    &__title{
        font-weight: 700;
    }
    &__description{
        font-weight: 600;
    }
}