---
layout: default
---

<header class="home__hero">
    <span class="home__hero__intro">Hello, my name is </span>
    <h1 class="home__hero__heading">
        <span class="home__hero__heading__name" >
            Abachouch </br> Youssouf
        </span>
        <span class="home__hero__heading__title"> I am a web developer</span> </h1>
</header>

<section class="featured-works">

    <h2 class="featured-works__heading">
        Her is my latest projects
    </h2>

    <article class="featured-work">
        <img class="featured-work__image" src="../imgs/work/file_browser.jpg" alt="sa">
        <h3 class="featured-work__title">tutorial player</h3>
        <span class="featured-work__description">dock app for managing Webwork works with ease.</span>
    </article>

    <article class="featured-work">
        <img class="featured-work__image" src="../imgs/work/projects_dock.png" alt="sa">
        <h3 class="featured-work__title">tutorial player</h3>
        <span class="featured-work__description">dock app for managing Webwork works with ease.</span>
    </article>

    <article class="featured-work">
        <img class="featured-work__image" src="../imgs/work/tutorials_player.jpg" alt="sa">
        <h3 class="featured-work__title">tutorial player</h3>
        <span class="featured-work__description">dock app for managing Webwork works with ease.</span>
    </article>

    <a href="/works" class="featured-works__more">Browse More works</a>
</section>

<section class="home__about">
<h2 class="home__about__heading">i love creating things with web technology</h2>

<p class="home__about__description">
    I’m a web developer ( and occasionally designer ) based in morocco, i have experience in building applications that are scalable and efficient with an exceptional, pixel-perfect user experiences.
</p>
<div class="home__about__portrait-wraper">
    <img src="../imgs/abachouch_portrait_bw.png" alt="" class="home__about__portrait">
</div>
</section>

<section class="home__skills">

    <h2 class="home__skills__heading">I know how to</h2>


    <ul class="home__skills__list" >


    
    <li class="home__skill">
        <h3 class="home__skill__title">
            Build desktop apps
        </h3>
        <p class="home__skill__description">
            I use electron js to create desktop apps that are supported by all major operation systems , windows , mac os and linux, with the help of web technology,
        </p>
    </li>

    <li class="home__skill">
        <h3 class="home__skill__title">
            Build websites
        </h3>
        <p class="home__skill__description">
            pasionat about web technology HTML, CSS, JS , Typescript, React , next js, and building applications that are scalable and efficient


        </p>
        
    </li>


    <li class="home__skill">
        <h3 class="home__skill__title">
            Design ui
        </h3>
        <p class="home__skill__description">
            with a keen eye for creating engaging UI, pixel-perfect user experiences so you can bringe your products and services to life.

        </p>
    </li>

</ul>

</section>


<section class="featured-snipets">
    <header class="featured-snipets__header">
        <h2 class="featured-snipets__heading">I have some technical tricks i want to share</h2>
        <a href="" class="featured-snipets__more">Read theme all</a>  
    </header>
        <ul class="featured-snipets__list">
            <li class="featured-snipet">
                <img src="../imgs/snipets/1.png" alt="">
                <span class="featured-snipet__tag" > Jekyll </span>
                <h3 class="featured-snipet__title">Lorem ipsum dolor sit amet.</h3>
            </li>
            <li class="featured-snipet">
                <img src="../imgs/snipets/2.png" alt="">
                <span class="featured-snipet__tag" > Jekyll </span>
                <h3 class="featured-snipet__title">Lorem ipsum dolor sit amet.</h3>
            </li>
            <li class="featured-snipet">
                <img src="../imgs/snipets/3.png" alt="">
                <span class="featured-snipet__tag" > Jekyll </span>
                <h3 class="featured-snipet__title">Lorem ipsum dolor sit amet.</h3>
            </li>
            <li class="featured-snipet">
                <img src="../imgs/snipets/4.png" alt="">
                <span class="featured-snipet__tag" > Jekyll </span>
                <h3 class="featured-snipet__title">Lorem ipsum dolor sit amet.</h3>
            </li>

        </ul>
</section> 

{% include cta.html %}
