---
layout: default
---

<section class="home-hero-wraper">
    <div class="container">
        <div class="home-hero">
            <h1 class="home-hero__heading">Transforming Ideas into Scalable, <br /> Full-Stack Solutions</h1>
            <p class="home-hero__lead">
                I’m Abachouch Youssouf, a Full-Stack Developer with a passion for creating robust, end-to-end web
                applications. From crafting intuitive frontends to architecting powerful backends, I build digital
                solutions that drive success.
            </p>
            <ul class="home-hero__ctas">
                <li>
                    <a href="" class="btn btn--cta">Get in Touch</a>
                </li>
                <li>
                    <a href="" class="btn">Explore My Projects</a>
                </li>
            </ul>
            <p class="home-hero__supporting">
                With expertise in Next.js, Node.js, AWS, and modern development frameworks, I deliver seamless, scalable
                applications that enhance user experiences and achieve business goals.
            </p>
        </div>
    </div>
</section>

<section class="container featured-works">
    <header class="featured-works__header">
        <h2 id="work" class="featured-works__heading">My Recent <br /> Work</h2>
        <p class="featured-works__lead">Here are some of my latest projects, where I’ve applied my skills to create
            practical and effective solutions. Each one reflects my dedication to delivering quality results.</p>
    </header>

    <div class="featured-works__list">
        <article class="featured-work">
            <img  loading="lazy" class="featured-work__thumnail" src="../imgs/work/mac-oopsbusted.webp" alt="oopsbusted mockup">
            <header class="featured-work__header">
                <h3 class="featured-work__title">OopsBusted</h3>
                <span class="featured-work__role">Full Stack Developer</span>
                <a class="featured-work__link" target="_blank" href="https://www.oopsbusted.com/">Visite website</a>
                <p class="featured-work__description">As a Full-Stack Developer, I played a pivotal role in developing a
                    Next.js application designed to help users identify individuals still active on dating apps. </p>
            </header>
        </article>
        <article class="featured-work">
            <img  loading="lazy" class="featured-work__thumnail" src="../imgs/work/mac-aether.webp" alt="aether mockup">
            <header class="featured-work__header">
                <h3 class="featured-work__title">Æther Intelligence</h3>
                <span class="featured-work__role">Wordpress developer</span>
                <a class="featured-work__link" target="_blank" href="https://www.aetherintelgroup.com/">Visite
                    website</a>
                <p class="featured-work__description">As a WordPress Developer, I transformed Figma designs into a
                    pixel-perfect, responsive WordPress theme. I developed custom features, optimized performance,
                    and ensured design consistency, leading to a successful launch and positive client feedback </p>
            </header>
        </article>
        <article class="featured-work">
            <img  loading="lazy" class="featured-work__thumnail" src="../imgs/work/mac-prilow.webp" alt="prilow mockup">
            <header class="featured-work__header">
                <h3 class="featured-work__title">Prilow</h3>
                <span class="featured-work__role">Full Stack Developer</span>
                <p class="featured-work__description">
                    As a Full-Stack Developer, I built web scrapers with Node.js, developed an API with AWS Lambda, and
                    created a Chrome extension for real-time price tracking. My contributions ensured efficient data
                    management and a seamless user experience.
                </p>
            </header>
        </article>
    </div>

</section>

<!-- services section --->
<div class="container">
    <section class="home-services">
        <header class="home-services__header">
            <h2 class="home-services__heading">Delivering Excellence in Every Line of Code</h2>
            <p class="home-services__lead">I transform ideas into reality through expert web development, seamless API
                integration, and tailored WordPress solutions. Let’s build something amazing together.</p>
        </header>
        <ul class="home-services__list">
            <li class="home-service">
                <h3 class="home-service__title">
                    Crafting Modern <br /> Websites
                </h3>
                <p class="home-service__description">
                    I specialize in building responsive, high-performance websites using cutting-edge technologies like
                    Next.js and React. Whether it's a dynamic web app or a sleek landing page, I ensure your site is
                    fast, secure, and delivers an exceptional user experience.
                </p>
            </li>

            <li class="home-service">
                <h3 class="home-service__title">
                    Seamless Backend <br /> Integration
                </h3>
                <p class="home-service__description">
                    I design and implement robust APIs with Node.js and AWS Lambda, enabling efficient communication
                    between your frontend and backend. My services ensure your application is scalable, reliable, and
                    ready to handle real-world demands.
                </p>
            </li>

            <li class="home-service">
                <h3 class="home-service__title">
                    Tailored WordPress <br /> Solutions
                </h3>
                <p class="home-service__description">
                    From transforming Figma designs into pixel-perfect themes to developing custom WordPress
                    functionalities, I deliver solutions that are both visually appealing and optimized for performance,
                    accessibility, and SEO.
                </p>
            </li>
        </ul>
    </section>
</div>

<section class="container featured-projects">
    <header class="featured-projects__header">
        <h2 id="projects" class="featured-projects__heading">
            Here are my side projects, created with passion, to solve problems and discover new technologies.
        </h2>
    </header>
    <div class="featured-projects__list">
        <div class="featured-project">
            <img  loading="lazy" class="featured-project__thumbnail" src="../imgs/projects/file-broweser run script 720.gif"
                alt="file browser app thumbnail">
            <h3 class="featured-project__title">File Browser</h3>
            <div class="featured-project__links">
                <a href="https://github.com/Abachouch/file-browser" target="_blank"
                    class="featured-project__link featured-project__github">View in github</a>
                <span class="link-separator">|</span>
                <a href="https://github.com/Abachouch/file-browser/releases" target="_blank"
                    class="featured-project__link featured-project__demo">Download</a>
            </div>
        </div>
        <div class="featured-project">
            <img  loading="lazy" class="featured-project__thumbnail" src="../imgs/projects/manifest-generator.webp"
                alt="Manifest generator app thumbnail">
            <h3 class="featured-project__title">Manifest Generator</h3>
            <div class="featured-project__links">
                <a href="https://github.com/Abachouch/manifest-generator" target="_blank"
                    class="featured-project__link featured-project__github">View in github</a>
                <span class="link-separator">|</span>
                <a href="https://abachouch.github.io/manifest-generator" target="_blank"
                    class="featured-project__link featured-project__demo">View Demo</a>
            </div>
        </div>
        <div class="featured-project">
            <img  loading="lazy" class="featured-project__thumbnail" src="../imgs/projects/rv-radio.webp" alt="RV Radio app thumbnail">
            <h3 class="featured-project__title">RV-Radio</h3>
            <div class="featured-project__links">
                <a href="https://github.com/Abachouch/rv-radio" target="_blank"
                    class="featured-project__link featured-project__github">View in github</a>
                <span class="link-separator">|</span>
                <a href="https://abachouch.github.io/rv-radio" target="_blank"
                    class="featured-project__link featured-project__demo">View Demo</a>
            </div>
        </div>
        <div class="featured-project">
            <img  loading="lazy" class="featured-project__thumbnail" src="../imgs/projects/border-radius.webp"
                alt="Border Radius Editor app thumbnail">
            <h3 class="featured-project__title">CSS Border Radius Tool</h3>
            <div class="featured-project__links">
                <a href="https://github.com/Abachouch/border-radius" target="_blank"
                    class="featured-project__link featured-project__github">View in github</a>
                <span class="link-separator">|</span>
                <a href="https://abachouch.github.io/border-radius" target="_blank"
                    class="featured-project__link featured-project__demo">View Demo</a>
            </div>
        </div>
        <div class="featured-project">
            <img  loading="lazy" class="featured-project__thumbnail" src="../imgs/projects/css-image.webp"
                alt="CSS Image Filters app thumbnail">
            <h3 class="featured-project__title">CSS Image Editor </h3>
            <div class="featured-project__links">
                <a href="https://github.com/Abachouch/css-image-editor" target="_blank"
                    class="featured-project__link featured-project__github">View in github</a>
                <span class="link-separator">|</span>
                <a href="https://abachouch.github.io/css-image-editor" target="_blank"
                    class="featured-project__link featured-project__demo">View Demo</a>
            </div>
        </div>
        <div class="featured-project">
            <img  loading="lazy" class="featured-project__thumbnail" src="../imgs/projects/project-dock.gif"
                alt="file browser app thumbnail">
            <h3 class="featured-project__title">Project-Dock</h3>
            <div class="featured-project__links">
                <a href="https://github.com/Abachouch/projects_dock" target="_blank"
                    class="featured-project__link featured-project__github">View in github</a>
                <span class="link-separator">|</span>
                <a href="https://github.com/Abachouch/projects_dock/releases" target="_blank"
                    class="featured-project__link featured-project__demo">Download</a>
            </div>
        </div>
    </div>
</section>

<!-- <section class="featured-projects">
    <div class="container">
        <h2 class="featured-projects__heading">
            Her are my latest side projects
        </h2>

        <a class="featured-project-wraper" href="/projects/file-explorer">
            <article class="featured-project home-scroll-observer">
                <img class="featured-project__image" src="../imgs/work/file_browser.jpg" alt="sa">
                <h3 class="featured-project__title">File explorer</h3>
                <span class="featured-project__description">A versatile file explorer app with folder pinning
                    functionality,
                    featuring a dedicated section for Node projects and the ability to display and execute scripts from
                    the
                    package.json file within each Node project folder.</span>
            </article>
        </a>

        <a class="featured-project-wraper" href="/projects/projects-dock">
            <article class="featured-project home-scroll-observer">
                <img class="featured-project__image" src="../imgs/work/projects_dock.webp" alt="sa">
                <h3 class="featured-project__title">Projects dock</h3>
                <span class="featured-project__description">A project organization app with note-taking, color-coding,
                    and
                    link
                    integration features for Node projects, accessible through a dock icon.</span>
            </article>
        </a>

        <a class="featured-project-wraper" href="/projects/tutorial-player">
            <article class="featured-project home-scroll-observer">
                <img class="featured-project__image" src="../imgs/work/tutorials_player.jpg" alt="sa">
                <h3 class="featured-project__title">tutorial player</h3>
                <span class="featured-project__description">An Electron app that plays locally stored tutorial videos,
                    organized within folders for easy navigation and playback.</span>
            </article>
        </a>
        <a href="/projects" class="featured-projects__more">Browse More projects</a>
    </div>
</section> -->

<!-- About section --->
<div class="container">
    <section class="home-about home-scroll-observer">
        <h2 class="home-about__heading">i love creating things with web technology</h2>
        <p class="home-about__description">
            I’m a web developer ( and occasionally designer ) based in morocco, i have experience in building
            applications
            that are scalable and efficient with an exceptional, pixel-perfect user experiences.
            <span class="home-about__email"> youssouf.abachouch@gmail.com </span>
        </p>
        <div class="home-about__portrait-wraper">
            <img  loading="lazy" src="../imgs/abachouch_portrait_bw.webp" alt="" class="home-about__portrait">
        </div>
    </section>
</div>

<!-- <section class="home-skills">
    <h2 class="home-skills__heading">I know how to</h2>

    <ul class="home-skills__list">

        <li class="home-skill">
            <h3 class="home-skill__title">
                Build desktop apps
            </h3>
            <p class="home-skill__description">
                I use electron js to create desktop apps that are supported by all major operation systems , windows ,
                mac os and linux, with the help of web technology,
            </p>
        </li>

        <li class="home-skill">
            <h3 class="home-skill__title">
                Build websites
            </h3>
            <p class="home-skill__description">
                pasionat about web technology HTML, CSS, JS , Typescript, React , next js, and building applications
                that are scalable and efficient
            </p>
        </li>

        <li class="home-skill">
            <h3 class="home-skill__title">
                Design ui
            </h3>
            <p class="home-skill__description">
                with a keen eye for creating engaging UI, pixel-perfect user experiences so you can bringe your products
                and services to life.
            </p>
        </li>

    </ul>

</section> -->

<!-- <section class="container featured-snipets">
    <header class="featured-snipets__header">
        <h2 class="featured-snipets__heading">I have some technical tricks i want to share</h2>
        <a href="" class="featured-snipets__more">Read theme all</a>
    </header>
    <ul class="featured-snipets__list">
        <li class="featured-snipet">
            <img src="../imgs/snipets/1.webp" alt="">
            <span class="featured-snipet__tag"> Jekyll </span>
            <h3 class="featured-snipet__title">Lorem ipsum dolor sit amet.</h3>
        </li>
        <li class="featured-snipet">
            <img src="../imgs/snipets/2.webp" alt="">
            <span class="featured-snipet__tag"> Jekyll </span>
            <h3 class="featured-snipet__title">Lorem ipsum dolor sit amet.</h3>
        </li>
        <li class="featured-snipet">
            <img src="../imgs/snipets/3.webp" alt="">
            <span class="featured-snipet__tag"> Jekyll </span>
            <h3 class="featured-snipet__title">Lorem ipsum dolor sit amet.</h3>
        </li>
        <li class="featured-snipet">
            <img src="../imgs/snipets/4.webp" alt="">
            <span class="featured-snipet__tag"> Jekyll </span>
            <h3 class="featured-snipet__title">Lorem ipsum dolor sit amet.</h3>
        </li>
    </ul>
</section> -->

<script>
    const projectobserver = new IntersectionObserver(entries => {
        entries.forEach(entry => {
            const intersecting = entry.isIntersecting
            if (intersecting) entry.target.classList.add('inview')
            else entry.target.classList.remove('inview')
        })
    }, { threshold: .5, rootMargin: "50px" })
    document.querySelectorAll('.home-scroll-observer').forEach(item => {
        projectobserver.observe(item)
    })
</script>